:host, :host(*) {
    height: 100%;
    width: 100%;
}

.settings-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.floating-save-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-danger {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
