<app-container class="full main-center" [hasHeader]="true">
    <ng-container slot="breadcrumb">
        <app-breadcrumb pageName="Configurações">
            <app-breadcrumb-item>Configurações</app-breadcrumb-item>
        </app-breadcrumb>
    </ng-container>

    <app-form>
        <div class="columns">
            <!-- Primeira coluna -->
            <div class="col">
                <label for="name">Nome</label>
                <input required type="text" id="name" name="name" placeholder="Nome"
                       [(ngModel)]="userData.name"
                       (ngModelChange)="onChanges()"
                >

                <label for="weight">Peso (Kg)</label>
                <input required type="number" id="weight" name="weight" placeholder="Peso (Kg)"
                       [(ngModel)]="userData.weight"
                       (ngModelChange)="onChanges()"
                >

                <label for="height">Altura (cm)</label>
                <input required type="number" id="height" name="height" placeholder="Altura (cm)"
                       [(ngModel)]="userData.height"
                       (ngModelChange)="onChanges()"
                >

                <label for="workout_level">Nível de treino</label>
                <select required name="workoutLevelEnum" id="workout_level"
                        [(ngModel)]="userData.workoutLevelEnum"
                        (ngModelChange)="onChanges()"
                >
                    <option value="undefined" disabled selected>Selecione uma opção</option>
                    <option value="BEGINNER">Iniciante</option>
                    <option value="INTERMEDIATE">Intermediário</option>
                    <option value="ADVANCED">Avançado</option>
                    <option value="PROFESSIONAL">Especialista</option>
                </select>
            </div>

            <div class="col">
                <label for="email">Email</label>
                <input required type="email" id="email" name="email" placeholder="Email"
                       [(ngModel)]="userData.email"
                       (ngModelChange)="onChanges()"
                >

                <label for="phoneNumber">Número de Telefone</label>
                <input required type="text" id="phoneNumber" name="phoneNumber" placeholder="Número de Telefone"
                       [(ngModel)]="userData.phoneNumber"
                       (ngModelChange)="onChanges()"
                >

                <label for="federalIdentification">CPF</label>
                <input required type="text" id="federalIdentification" name="federalIdentification" placeholder="CPF"
                       [(ngModel)]="userData.federalIdentification"
                       (ngModelChange)="onChanges()"
                >
            </div>
        </div>

        <ng-container slot="footer">
            <button type="button" class="red" (click)="deleteAccount()">
                APAGAR CONTA
            </button>

            <button type="button" *ngIf="showSaveButton" class="save-button" (click)="saveChanges()">
                SALVAR ALTERAÇÕES
            </button>
        </ng-container>
    </app-form>
</app-container>
