$white-color: #ffffff;
$red-color: #ff6347;
$green-color: #00e68a;

$primary-color: #1F1F3D;
$primary-color-hover: #21213f;

$secondary-color: #282845;
$tertiary-color: #535374;

$shadow-dark-color: #00000080;

$container-primary-bg-color: #282845;

$label-light-color: #cccccc;

$input-bg-color: #514769;

$input-font-active-color: #ffffff;

$input-font-placeholder-color: #aaaaaa;

$button-green-color: #00FF9C;
$button-hover-green-color: #00e68a;
$button-click-green-color: #0ca065;

$button-red-color: #ff6347;
$button-hover-red-color: #e05137;
$button-click-red-color: #c14530;

$button-font-dark-color: #282845;
$button-font-light-color: #ffffff;
